/* css/base.css */
.container {

    width: 96%;
    margin: 0 auto;
}

.field {
    margin-bottom: 16px;
}

.field label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.field .field-input {
    display: block;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #48A2A6;
}


.button {
    display: inline-block;
    padding: 25px 50px;
    margin: 5px;
    background-color: #48A3A6;
    border-radius: 8px;
    box-shadow: 1px 1px 5px black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.button-place {
    text-align: center;
}