.panel-speakers {
    padding-top: 40px;
    background: #EF7247;
}

.panel-speakers .about-speakers {

    text-align: center;
}

.panel-speakers .title {

    color: white;
    font-size: 40px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.panel-speakers .subtitle {
    color: white;
    font-size: 32px;
    margin-bottom: 16px;
}

.panel-speakers .speakers {

    text-align: center;
}

.panel-speakers .speaker {

    display: inline-block;
    width: 250px;
    background-color: white;
    margin: 0 16px 32px 0;
    padding: 18px;
    border-radius: 10px;
    vertical-align: top;
}

.panel-speakers .speaker-image {

    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.panel-speakers .speaker-name {

    padding-top: 10px;
}

.panel-speakers .speaker-bio {

    font-weight: bold;
    margin-top: 16px;
}

.panel-speakers .speaker-speach {

    margin-top: 16px;
    padding-top: 8px;
    font-size: 16px;
}